
<ion-view view-title="Dashboard" >
  <ion-nav-bar class="bar-positive">
<ion-nav-buttons  side="primary">

    <label class="toggle toggle-assertive">
      <input type="checkbox" ng-model="enableOpenData" ng-change="toggleOpenData()">
      <div class="track">
        <div class="handle"></div>
      </div>
    </label>
</ion-nav-buttons>
  <ion-content class="padding" has-header="true">

    <ion-list>
      <ion-item >
        Latitude : {{location.lat}}
      </ion-item>
      <ion-item >
        Longitude : {{location.lon}}
      </ion-item>
      <ion-item >
        Altitude : {{location.altitude}}
      </ion-item>
      <ion-item >
        Speed : {{location.speed}}
      </ion-item>
    </ion-list>


 </ion-content>
</ion-view>
